<section class="disqus">
    <div id="disqus_thread"></div>
    <script type="text/javascript">

        var disqus_shortname = '{{ site.disqus }}'; // 此变量将自动读取_config.yml的配置
        var disqus_developer = 0;
        var disqus_config = function () {  // 新增配置函数
            this.language = "zh_CN";      // 强制指定中文界面
        };
        (function() {
            var dsq = document.createElement('script'); 
            dsq.type = 'text/javascript'; 
            dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js?lang=zh_CN'; // 添加语言参数
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
